@import url('transitions.css');
@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --font-sans: 'Outfit Variable', sans-serif;

    --color-base: oklch(54.428% 0.02688 275);
    --color-base-50: oklch(91.925% 0.0055 274.96);
    --color-base-100: oklch(88.628% 0.00824 278.62);
    --color-base-200: oklch(82.114% 0.01135 274.86);
    --color-base-300: oklch(75.295% 0.01723 278.41);
    --color-base-400: oklch(68.501% 0.02075 276.2);
    --color-base-500: oklch(61.241% 0.02606 275.1);
    --color-base-600: oklch(54.428% 0.02688 275);
    --color-base-700: oklch(44.801% 0.02156 275.22);
    --color-base-800: oklch(35.006% 0.01584 275.63);
    --color-base-900: oklch(24.037% 0.00963 276.67);
    --color-base-950: oklch(18.356% 0.00607 285.79);

    --color-brand: oklch(54.528% 0.15925 1.3546);
    --color-brand-50: oklch(92.782% 0.02369 354.3);
    --color-brand-100: oklch(88.883% 0.03637 353.72);
    --color-brand-200: oklch(81.692% 0.0623 355.07);
    --color-brand-300: oklch(74.598% 0.08965 356.41);
    --color-brand-400: oklch(67.421% 0.1184 357.35);
    --color-brand-500: oklch(60.904% 0.14594 359.53);
    --color-brand-600: oklch(54.528% 0.15925 1.3546);
    --color-brand-700: oklch(45.461% 0.12972 1.1346);
    --color-brand-800: oklch(35.755% 0.09719 0.34376);
    --color-brand-900: oklch(25.343% 0.06088 0.33446);
    --color-brand-950: oklch(19.613% 0.04273 358.09);

    --ease-default: ease-in-out;
    --ease-snappy: cubic-bezier(0, 1, 0, 1);
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    scrollbar-width: thin;
    scrollbar-color: var(--color-base-700) transparent;
}
#app {
    @apply grid grow overflow-hidden;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-base-700);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-base-600);
}

.button {
    @apply bg-base-200 text-base-900 dark:bg-base-900 dark:text-base-50 flex gap-2 h-[40px] items-center rounded px-3 transition-all relative;

    & .icon {
        @apply text-lg;
    }

    &:not(:disabled):not(.disabled):hover {
        @apply bg-base-300 dark:bg-base-800 cursor-pointer;
    }
    &:disabled, &.disabled {
        @apply cursor-not-allowed opacity-60;
    }

    &.brand {
        @apply bg-brand-400 text-brand-950 dark:bg-brand-800 dark:text-brand-50;

        &:not(:disabled):not(.disabled):hover {
            @apply bg-brand-500 dark:bg-brand-700;
        }
    }
    &.success {
        @apply bg-green-400 text-green-950 dark:bg-green-800 dark:text-green-50;

        &:not(:disabled):not(.disabled):hover {
            @apply bg-green-500 dark:bg-green-900;
        }
    }
    &.ghost {
        @apply bg-transparent;
    }
    &.square {
        @apply w-[40px] px-0 justify-center;
    }

    & .badge {
        @apply bg-brand-300 text-brand-950 dark:bg-brand-700 dark:text-brand-50 rounded-md text-xs font-bold px-1.5 py-0.5 absolute bottom-[-5px] right-[-5px];
    }
}

.input {
    @apply h-[40px] border border-base-300 dark:border-base-800 rounded-md w-full px-3 outline-none transition-all;

    &:hover, &:focus-visible {
        @apply bg-base-100 dark:bg-base-900;
    }
}
.select {
    @apply h-[40px] bg-base-200 dark:bg-base-900 px-3 rounded transition-all cursor-pointer outline-none appearance-none pr-8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(0,0,0,1)'%3E%3Cpath d='M12 15.0006L7.75732 10.758L9.17154 9.34375L12 12.1722L14.8284 9.34375L16.2426 10.758L12 15.0006Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 4px top 50%;
    background-size: 28px 28px;

    &:hover {
        @apply bg-base-300 dark:bg-base-800;
    }
}
html[data-theme="dark"] .select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(255,255,255,1)'%3E%3Cpath d='M12 15.0006L7.75732 10.758L9.17154 9.34375L12 12.1722L14.8284 9.34375L16.2426 10.758L12 15.0006Z'%3E%3C/path%3E%3C/svg%3E");
}

.section-center {
    @apply flex justify-center items-center h-full;
}